.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #db08d1;

    .logo{
        font-size: 20px;
        color: #ffffff;
        font-weight: bold;
        margin: 0px;
    }
    .menu-item{
        font-size: 18px;
        text-decoration: underline;
        color: #ffffff;
        cursor: pointer;
        margin: 0px;
    }
}