.wrapper-input {
    .label-input{
        font-size: 16px;
        color: #2d2d2d;
        margin: 0px;
    }
    .text-input{
        border: 1px solid grey;
        border-radius: 8px;
        outline: none;
        padding: 12px;
        width: 100%;
        box-sizing: border-box;
    }
}